/*
COMENTARIO en CSS:
La REGLA CSS tiene 2 partes:
1) El "Selector" (<select>)le indica al navegador qué elemento de
HTML se selecciona para aplicarles una regla que incluye los
valores de las propiedades CSS.que es una ETIQUETA html. 

2) Bloque de declaración: {
    atributo: valor;
    atributo-de-mas-de-dos-palabras: otro-valor;
}
Es IMPRESCINDIBLE el : y el ; para no tener errores de sintaxis.
*/
/*Eejemplo de declaración:Dopnde el selector es lña etiqueta h1,
el bloque de declaraciones tiene los atributos de color, 
y background-colo.*/
h1{
    color:rgb(83, 83, 212);
    background-color: rgb(179, 180, 182);
    border-color: black;
    border-style: solid;
    text-align: center;
}

/*HAY 3 FORMAS DE APLICAR ESTILOS EN CSS:

1) Aplicando "ESTILOS CON HOJA EXTERNA al documento"
   A través de LA ETIQUETA <link> esto es "BUENA PRÁCTICA" -->
   <link rel="stylesheet" href="CSS_YouTube.css">
2) Aplicando "ESTILOS EN LÍNEA" a través de <style> 
   La cursiva es por la etiqueta <i>.   El color y bold es por la etiqueta <style> -->
   <p><i style="font-weight: bold; color:gray">Cascading Style Sheets</i> - Hojas de estilo en cascada</p>

3) Aplicando "ESTILOS EN EL INTERIOR DEL DOCUMENTO"
   a través de <style> -->
   <style>
   h1{
    color:magenta;
   }
   </style>
  */ 

  /*MALA PRÁCTICA: IMPORTAR una HOJA DE ESTILO ESTERNA.
   @import url("http://www.colocamos-el-link@de-la-hoja-de-ruta.com");
   
   CUIDADO: ES UNA MALA PRÁCTICA. // Avoid @imports  //
   es preferible: 
   <!-- Use link elements -->
   <link rel="stylesheet" href="core.css">
  */

  /*  DECLARATION ORDER
  APROPIADAMENTE SE DEBE AGRUPAR ASÍ: 
  - Positioning
  - Box model
  - Typographic
  - Visual
  - Misc */

/* HAY 3 TIPOS DE SELECTORES
  (Selector es un elemento html al que le aplicaremos estilos CSS) 
  
A) Etiquetas (elementos HTML):
   USAR "ETIQUETAS" ES UNA MALA PRÁCTICA.
   Lo que le aplicamos a una se repite en todas
   las etiquetas del mismo tipo. POr ejemplo:
   Todas las etiquetas de párrafo (p) tendrán color: blue.*/
  p{
   color: blue;
  }

/* B) Indentificadores / ID: Se accede con el atributo "ID".
   USAR ESTO ES UNA MALA PRÁCTICA.
 - Se considera un antipatrón dar "estilos" usando un ID.
 - Además tienen mayor peso sobre los demás selectores
  disponibles. por lo que NO se recomiendan su uso.*/
  #parrafo-dos {
    background-color: gray;
}

/* C) Clases: Se accede con el Atributo ".CLASS"
  USAR CLASS ES UNA BUENA PRÁCTICA. ES RECOMENDABLE.
  Permite reutilizar nuestro código CSS.
  IMPORTANTE: ORDENAR LAS CLASS EN ORDEN ALFABÉTICO
*/

.bg-skyblue {
   background-color:skyblue;
 }

 .bg-steelblue {
   background-color: steelblue;
 }

.text-20 {
   font-size: 20px;
 }

 .text-28 {
   font-size: 28px;
 }

 .text-white{
   color: white;
 }


